<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<element>
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Index</servlet-name>
		<display-name>Index</display-name>
		<description></description>
		<servlet-class>com.logvin.simplexmethod.routes.Index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SimplexMethodController</servlet-name>
		<display-name>SimplexMethodController</display-name>
		<description></description>
		<servlet-class>com.logvin.simplexmethod.routes.SimplexMethodController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SolutionServlet</servlet-name>
		<display-name>SolutionServlet</display-name>
		<description></description>
		<servlet-class>com.logvin.simplexmethod.routes.SolutionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/simplexInput</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SimplexMethodController</servlet-name>
		<url-pattern>/simplexTable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SolutionServlet</servlet-name>
		<url-pattern>/solution</url-pattern>
	</servlet-mapping>
  
	<!-- define the welcome files -->
	<welcome-file-list>
  		<welcome-file>index.jsp</welcome-file>
    	<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
</element>